.week-days {
    margin: 0 auto;
    width: 1000px;
    display: flex;

    -moz-user-select: none;
    user-select: none;
}

.week-days div {
    box-shadow: 0 5px 10px -10px rgba(0,0,0,.8);
    background: #fff;
    font-family: Arial, sans-serif;
    color: #888;
    padding: 5px 0;
    margin: 10px 10px 0 0;
    width: 130px;
    text-align: center;
    font-size: 16px;
}